.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 12px;
  margin-left: 16px;
}

.title {
  margin-block: 0;

  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--filled-900);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.weatherCard {
  margin-left: 16px;
}

@media (max-width: 767px) {
  .header {
    margin-bottom: 8px;
    margin-left: 12px;
  }

  .title {
    font-size: 16px;
    line-height: 20px;
  }

  .list {
    gap: 8px;
  }

  .weatherCard {
    margin-inline: 12px;
  }
}
