.wrapper {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;

  max-width: 100%;
  padding: 0;

  background-color: var(--light-tone-100);
  border-radius: var(--std-border-radius);
}

.input {
  width: 100%;
  padding: 12px 16px;

  font-family: var(--font-family);
  font-size: 20px;
  line-height: 24px;
  color: var(--light-filled-900);

  background: none;
  border: none;
  outline: none;
}

.input::placeholder {
  font-family: var(--font-family);
}

.btn {
  display: block;
  width: 28px;
  height: 28px;
  margin-right: 16px;
}

@media (hover: hover) {
  .wrapper:hover {
    background-color: var(--light-filled-200);
  }
}

.wrapper:focus-within,
.active {
  background-color: var(--light-filled-200);
}

@media screen and (max-width: 767px) {
  .input {
    padding: 8px 12px;
    font-size: 14px;
    line-height: 16px;
  }

  .btn {
    width: 16px;
    height: 16px;
    margin-right: 12px;
  }
}
