.ldsEllipsis,
.ldsEllipsis div {
  box-sizing: border-box;
}

.ldsEllipsis {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 30px;
}

.ldsEllipsis div {
  position: absolute;
  top: 10px;

  width: 13px;
  height: 13px;

  background: var(--light-filled-100) 66;
  border-radius: 50%;

  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.ldsEllipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis-1 0.6s infinite;
}

.ldsEllipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis-2 0.6s infinite;
}

.ldsEllipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis-2 0.6s infinite;
}

.ldsEllipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis-3 0.6s infinite;
}

@keyframes lds-ellipsis-1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis-3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis-2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

@media screen and (max-width: 767px) {
  .ldsEllipsis {
    transform: scale(0.5);
  }
}
