.list {
  display: grid;
  grid-auto-rows: minmax(196px, max-content);
  grid-template-columns: repeat(3, 158px);
  gap: 16px;
}

@media screen and (max-width: 1023px) {
  .list {
    grid-template-columns: repeat(3, minmax(0, 163px));
    gap: 12px;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .list {
    grid-auto-rows: minmax(148px, max-content);
    grid-template-columns: repeat(3, minmax(0, 128px));
    gap: 8px;
  }
}
