.btn {
  background-color: var(--tone-light-600-dark-500);
  box-shadow: -2px 0 6px 0 rgb(0 0 0 / 15%);
}

.btn.loading {
  background-color: var(--filled-200);
}

@media (hover: hover) {
  .btn:hover {
    background-color: var(--filled-200);
  }
}

@media (hover: none) {
  .btn:active {
    background-color: var(--filled-200);
  }
}

.icon {
  width: 24px;
  height: 24px;
}

.icon g path {
  stroke: var(--filled-700);
}

@media screen and (max-width: 767px) {
  .btn {
    width: 40px;
    height: 32px;
  }

  .icon {
    width: 16px;
    height: 16px;
  }
}
