.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.wrapper.large {
  gap: 32px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header.large {
  justify-content: center;
  gap: 16px;
  text-align: center;
}

.message {
  color: var(--filled-900);
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-block: 0;
}

.message.light {
  color: var(--filled-light-100-dark-900);
}

.subMessage {
  color: var(--filled-700);
  font-size: 20px;
  line-height: 24px;
  margin-block: 0;
}

.subMessage.light {
  color: var(--filled-light-200-dark-700);
}

.btn {
  margin-inline: auto;
}

@media screen and (max-width: 1023px) {
  .wrapper.large {
    gap: 24px;
  }

  .header.large {
    gap: 12px;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    gap: 12px;
  }

  .wrapper.large {
    gap: 16px;
  }

  .header {
    gap: 8px;
  }

  .header.large {
    gap: 8px;
  }

  .message {
    font-size: 16px;
    line-height: 20px;
  }

  .subMessage {
    font-size: 14px;
    line-height: 16px;
  }
}
