.wrapper {
  display: flex;
  overflow: hidden;
  border-radius: var(--std-border-radius);
  background-image: url('/public/images/background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper.skeleton {
  background: none;
  background-color: var(--light-tone-200);
}

.btn {
  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 100%;
  padding: 16px;

  color: var(--light-filled-100);
}

.error {
  padding: 16px;
  flex-grow: 1;
}

.block {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.text {
  font-size: 16px;
  line-height: 20px;
}

.rightContent {
  position: relative;
  width: 56px;

  border-radius: var(--std-border-radius);

  backdrop-filter: blur(var(--std-blur));
  background-color: var(--light-tone-600);
}

.likeBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 24px;
  height: 24px;
}

.likeIcon {
  fill: var(--light-filled-100);
  stroke: var(--light-filled-100);
}

.likeBtn:disabled .likeIcon {
  stroke: var(--light-tone-500);
}

@media (hover: hover) {
  .likeBtn:not(:disabled):hover .likeIcon {
    fill: var(--light-filled-100);
  }
}

@media (hover: none) {
  .likeBtn:not(:disabled):active .likeIcon {
    fill: var(--light-filled-100);
  }
}

.likeIcon:not(.filled) {
  fill: transparent;
}

.leftTitleSkeleton {
  width: 108px;
  height: 32px;
}

.rightTitleSkeleton {
  width: 32px;
  height: 32px;
}

.textSkeleton {
  width: 56px;
  height: 20px;
}

@media (max-width: 767px) {
  .btn {
    padding: 12px;
  }

  .error {
    padding: 12px;
  }

  .title {
    font-size: 16px;
    line-height: 20px;
  }

  .text {
    font-size: 12px;
    line-height: 16px;
  }

  .rightContent {
    width: 40px;
  }

  .likeBtn {
    width: 16px;
    height: 16px;
  }

  .leftTitleSkeleton {
    width: 72px;
    height: 20px;
  }

  .rightTitleSkeleton {
    width: 24px;
    height: 20px;
  }

  .textSkeleton {
    width: 48px;
    height: 16px;
  }
}
