.wrapper {
  display: flex;
  gap: 32px;
  color: var(--light-filled-100);
}

.tabList {
  display: flex;
  gap: 32px;
  align-items: center;
}

.title {
  margin-block: 0;
  font-size: 24px;
  line-height: 32px;
}

@media screen and (max-width: 1023px) {
  .tabList,
  .wrapper {
    gap: 24px;
  }
}

@media screen and (max-width: 767px) {
  .title {
    font-size: 16px;
    line-height: 20px;
  }

  .tabList,
  .wrapper {
    gap: 16px;
  }
}
