.title {
  margin-block: 0;
  letter-spacing: 0;
}

.link {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  text-decoration: none;
}

.startText {
  color: var(--filled-light-100-dark-900);
}

.endText {
  color: var(--filled-light-900-dark-700);
}

@media screen and (max-width: 767px) {
  .link {
    font-size: 20px;
    line-height: 32px;
  }
}
