.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;

  box-sizing: border-box;
  height: 100%;
  padding: 16px;

  background-color: var(--tone-100);
  border-radius: var(--std-border-radius);
}

.title {
  margin-block: 0;
  font-size: 16px;
  line-height: 20px;
  color: var(--filled-900);
}

.value {
  font-size: 32px;
  line-height: 1;
  color: var(--filled-900);
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.info {
  width: 100%;

  font-size: 12px;
  line-height: 16px;
  color: var(--filled-800);
  text-align: center;
  word-break: break-all;
}

.info.interval {
  display: flex;
  justify-content: space-between;
}

.intervalValue {
  color: var(--filled-800);
}

.icon {
  width: 32px;
  height: 32px;
}

.icon > g > rect {
  fill: var(--filled-light-900-dark-700);
}

.titleSkeleton {
  width: 72px;
  height: 20px;
}

.iconSkeleton {
  width: 32px;
  height: 32px;
}

.valueSkeleton {
  width: 56px;
  height: 32px;
}

.bottomSkeleton {
  width: 108px;
  height: 32px;
}

@media screen and (max-width: 767px) {
  .card {
    gap: 12px;
    padding: 12px;
  }

  .title {
    font-size: 12px;
    line-height: 16px;
  }

  .value {
    font-size: 22px;
  }

  .progress {
    height: 6px;
    margin-bottom: 6px;
    border-radius: 3px;
    mask: radial-gradient(circle at 5%, transparent 5px, #ffffff 0),
      radial-gradient(circle at 5%, var(--filled-100) 3px, transparent 0);
  }

  .progress div::after {
    width: 6px;
    height: 6px;
  }

  .info {
    font-size: 10px;
    line-height: 12px;
  }

  .icon {
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 639px) {
  .titleSkeleton {
    width: 56px;
    height: 16px;
  }

  .iconSkeleton {
    width: 24px;
    height: 24px;
  }

  .valueSkeleton {
    width: 48px;
    height: 22px;
  }

  .bottomSkeleton {
    width: 72px;
    height: 26px;
  }
}
