.wrapper {
  overflow: hidden;
  display: flex;
  gap: 32px;
  align-items: center;

  width: 100%;

  color: 202020;
}

.error {
  padding-block: 8px;
}

.sliderLimiter {
  position: relative;
  overflow: hidden;
  display: flex;
  border-radius: var(--std-border-radius);
}

.maskRight {
  mask-image: linear-gradient(90deg, #000000 97%, transparent 100%);
}

.maskInline {
  mask-image: linear-gradient(
    90deg,
    transparent 0%,
    #000000 3%,
    #000000 97%,
    transparent 100%
  );
}

.maskLeft {
  mask-image: linear-gradient(90deg, transparent 0%, #000000 3%);
}

.cardList {
  user-select: none;

  display: flex;
  flex-grow: 1;
  gap: 16px;

  list-style-type: none;
}

.card {
  display: flex;
  gap: 16px;
  align-items: center;

  padding: 16px;

  text-align: center;
  white-space: nowrap;

  background-color: var(--tone-200);
  border-radius: var(--std-border-radius);
}

.cardImg {
  width: 32px;
  height: 32px;
}

.btnIcon path {
  stroke: var(--filled-700);
}

.arrowRight {
  rotate: 180deg;
}

.text {
  color: var(--filled-900);
}

.textSkeleton {
  width: 92px;
  height: 20px;
}

.imgSkeleton {
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 1023px) {
  .wrapper {
    gap: 24px;
  }

  .cardList {
    gap: 12px;
  }
}

@media screen and (max-width: 885px) {
  .card {
    flex-direction: column;
  }

  .error {
    padding-block: 44px;
  }
}

@media screen and (max-width: 767px) {
  .error {
    padding-block: 8px;
  }

  .card {
    flex-direction: row;
    gap: 12px;
    padding: 12px;
  }

  .text {
    font-size: 12px;
    line-height: 16px;
  }

  .wrapper {
    gap: 16px;
  }

  .btnIcon {
    width: 16px;
    height: 16px;
  }

  .cardList {
    gap: 8px;
  }

  .cardImg {
    width: 24px;
    height: 24px;
  }

  .textSkeleton {
    width: 76px;
    height: 16px;
  }

  .imgSkeleton {
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 639px) {
  .error {
    padding-block: 36px;
  }

  .card {
    flex-direction: column;
  }
}
