.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: scroll;
  padding-block: 6px;
  max-height: calc(100dvh - (32px * 2) - 16px - 24px - 12px - 48px - 16px);
}

.wrapper::-webkit-scrollbar {
  background-color: transparent;
  width: 16px;
}

.wrapper::-webkit-scrollbar-track {
  background-color: transparent;
}

.wrapper::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px var(--filled-700);
  border: solid 6px transparent;
  border-radius: 16px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 12px;
  margin-left: 16px;
}

.title {
  margin-block: 0;

  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--filled-900);
}

.clearHistoryBtn {
  width: 24px;
  height: 24px;
  padding: 0;

  background: none;
  border: none;
}

.clearHistoryIcon path {
  stroke: var(--filled-700);
}

.clearHistoryBtn:hover .clearHistoryIcon path {
  stroke: var(--filled-900);
}

.clearHistoryBtn:disabled .clearHistoryIcon path {
  stroke: var(--filled-light-500-dark-400);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.weatherCard,
.error {
  margin-left: 16px;
}

.queryCity {
  position: relative;
}

.queryCityBtn {
  display: block;

  width: 100%;
  padding: 12px 16px;

  color: var(--filled-900);
  text-align: left;

  background: none;
  border: none;
}

@media (hover: hover) {
  .queryCityBtn:hover {
    background-color: var(--filled-200);
  }
}

@media (hover: none) {
  .queryCityBtn:active {
    background-color: var(--filled-200);
  }
}

.text {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  color: var(--filled-700);
}

.text.highlighted {
  color: var(--filled-900);
}

.text.unhighlighted {
  color: var(--filled-600);
}

.errorText {
  padding-inline: 16px;
}

.loaderWrapper {
  height: 72px;
  text-align: center;
}

.confirm {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

@media screen and (max-width: 1023px) {
  .wrapper {
    max-height: calc(100dvh - (24px * 2) - 14px - 24px - 48px - 16px);
  }
}

@media (max-width: 767px) {
  .wrapper {
    gap: 12px;
    max-height: calc(100dvh - (16px * 2) - 12px - 14px - 32px - 16px);
    padding-block: 5px;
  }

  .wrapper::-webkit-scrollbar {
    width: 12px;
  }

  .wrapper::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .wrapper::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px var(--filled-700);
    border: solid 5px transparent;
    border-radius: 16px;
  }

  .clearHistoryBtn {
    width: 16px;
    height: 16px;
  }

  .header {
    margin-bottom: 8px;
    margin-left: 12px;
  }

  .title {
    font-size: 16px;
    line-height: 20px;
  }

  .historyBtn {
    padding: 8px 12px;
  }

  .list {
    gap: 8px;
  }

  .weatherCard,
  .error {
    margin-left: 12px;
  }

  .queryCityBtn {
    padding: 8px 12px;
  }

  .text {
    font-size: 14px;
    line-height: 16px;
  }

  .errorText {
    padding-inline: 12px;
  }

  .loaderWrapper {
    height: 40px;
  }

  .confirm {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    gap: 12px;
  }
}
