.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 12px;
  padding-inline: 16px;
}

.title {
  margin: 0;

  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--neutral-filled-900);
}

.clearHistoryBtn {
  cursor: pointer;

  width: 24px;
  height: 24px;
  padding: 0;

  background: none;
  border: none;
}

.clearHistoryIcon {
  width: 100%;
  height: 100%;
  color: var(--light-filled-700);
}

.clearHistoryBtn:hover .clearHistoryIcon {
  color: var(--light-filled-900);
}

.clearHistoryBtn:disabled .clearHistoryIcon {
  color: var(--light-filled-500);
}

.text {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  color: var(--light-filled-900);
}

.errorText {
  padding-inline: 16px;
}

.loaderWrapper {
  height: 72px;
  text-align: center;
}

@media (max-width: 767px) {
  .wrapper {
    gap: 12px;
  }

  .clearHistoryBtn {
    width: 16px;
    height: 16px;
  }

  .header {
    margin-bottom: 8px;
    padding-inline: 12px;
  }

  .title {
    font-size: 16px;
    line-height: 20px;
  }

  .historyBtn {
    padding: 8px 12px;
  }

  .text {
    font-size: 14px;
    line-height: 16px;
  }

  .errorText {
    padding-inline: 12px;
  }

  .loaderWrapper {
    height: 40px;
  }
}
