.btnText {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: var(--filled-light-400-dark-700);
}

.btn {
  position: relative;

  margin-top: 4px;

  font-weight: 700;
  color: var(--filled-light-400-dark-700);

  background: none;
  border: 0;
}

.btn::after {
  content: '';

  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%) scaleX(0);

  width: 0;
  height: 2px;

  background-color: var(--filled-light-100-dark-900);
  border-radius: 4px;

  transition: transform var(--transition-medium), width var(--transition-medium);
}

.active.btn::after {
  transform: translateX(-50%) scaleX(1);
  width: 100%;
}

.active .btnText {
  color: var(--filled-light-100-dark-900);
}

@media screen and (max-width: 767px) {
  .btn {
    font-size: 12px;
    line-height: 16px;
  }

  .btnText {
    font-size: 12px;
    line-height: 16px;
  }

  .btn::after {
    bottom: -3px;
    height: 1px;
    border-radius: 2px;
  }
}
