.wrapper {
  padding: 32px;
  color: var(--filled-light-100-dark-900);
  text-align: center;
}

.text {
  margin-block: 0;
  font-size: 16px;
  line-height: 20px;
}

.link {
  color: inherit;
  text-underline-offset: 3px;
}

@media screen and (max-width: 1023px) {
  .wrapper {
    padding: 24px;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    padding: 16px;
  }

  .text {
    font-size: 12px;
    line-height: 16px;
  }

  .link {
    text-underline-offset: 2px;
  }
}
