.slider {
  display: grid;
  gap: 36px;
  padding: 32px;
  overflow: hidden;
  user-select: none;
}

@media screen and (max-width: 886px) {
  .slider {
    padding: 24px;
    gap: 32px;
  }
}

@media screen and (max-width: 640px) {
  .slider {
    padding: 0px 16px;
    gap: 16px;
    margin-bottom: 16px;
  }
}
